<form class="form" (ngSubmit)="onAdd()">
    <div class="input-group">
        <input autocomplete="off" type="text" name="platform" placeholder=" " [(ngModel)]="account.platform">
        <label for="platform">{{ 'accounts.platform' | translate }}</label>
    </div>
    <div class="input-group">
        <input autocomplete="off" type="text" name="username" placeholder=" " [(ngModel)]="account.username">
        <label for="username">{{ 'accounts.username' | translate }}</label>
    </div>
    <div class="input-group">
        <input autocomplete="off" type="password" name="password" placeholder=" " [(ngModel)]="account.password">
        <label for="password">{{ 'accounts.password' | translate }}</label>
    </div>
    <div class="button-group">
        <button class="success-btn" type="submit">{{ 'actions.add' | translate }}</button>
        <button (click)="onCancel()">{{ 'actions.cancel' | translate }}</button>
    </div>
</form>